:root {
    --daiya-green: #343f30;
    --main-bg: #080f0f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #080f0f;
    color: white;
    line-height: 1.6;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

header {
    position: relative;
    overflow: hidden;
    background-color: #080f0f;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 10%;
    min-height: 350px;
    text-align: center;
    flex-direction: column;
}

.header-img {
    position: absolute;
    height: 80%;
    z-index: 1;
    pointer-events: none;
}

.left {
    position: absolute;
    left: 0;
    top: 90%;
    transform: translateY(-80%) rotate(7deg);
    bottom: 20px;
    height: 100%;
}

.right {
    right: 0px;
    bottom: 80px;
    height: 100%;
}

.header-content {
    position: relative;
    z-index: 2;
}

header h1 {
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 50px;
}

@media (max-width: 600px) {
    .header-img {
        height: 30%;
        opacity: 0.5;
    }

    .left {
        left: 0%;
        right: auto;
        top: 20%;
    }

    .right {
        right: 0%;
        left: auto;
        top: 90%;
    }

    header h1 {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
}

.most-ordered {
    text-align: center;
    margin-bottom: 5px;
}

#menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

.menu-item {
    background-color: var(--daiya-green);
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

.menu-item:hover {
    background: var(--main-bg);
}

select, textarea {
    background-color: #343f30;
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 10px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
}

.add-to-cart-btn {
    background: var(--daiya-green);
    border: 2px solid var(--main-bg);
    border-radius: 10px;
    color: white;
    padding: 8px 15px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    margin-top: auto;
}

.add-to-cart-btn:hover {
    background: var(--daiya-green);
}

#cart-section {
    margin-top: 50px;
    padding: 20px;
    background: var(--main-bg);
    border-top: 3px solid var(--daiya-green);
}

#send-whatsapp-btn {
    width: 100%;
    padding: 15px;
    font-size: 1.2rem;
    background: var(--daiya-green);
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

#send-whatsapp-btn:hover {
    background: #000000;
}

#cart-list {
    list-style: flex;
    margin-bottom: 20px;
    margin-left: 25px;
}

.cart-item {
    padding: 2px 0;
    justify-content:space-between;
    align-items: center;
    border-bottom: 1px solid white;
}

.remove-btn {
    background-color: transparent;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}


